$background-color: #FFFFFF;
$displayFont: "Exo";

body {
  font-family: $displayFont, sans-serif;
}

.pomodoro-clock {
  border: solid;
  border-radius: 25px;
  margin: auto;
  padding: 50px;
  background-color: $background-color;
  height: 500px;
  width: 50%;
  min-width: 450px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". break break . . session session ."
    ". . . timer timer . . ."
    ". . . start-stop reset . . .";
}
.break { grid-area: break }
.session { grid-area: session }
.timer { grid-area: timer }
.start-stop { grid-area: start-stop }
.reset { grid-area: reset }

.break-plus { margin: 5px; }
.break-minus { margin: 5px; }
.session-plus { margin: 5px; }
.session-minus { margin: 5px; }

@media only screen and (max-width: 450px) {
  body {
    background-color: black;
    color: white;
  }
  .pomodoro-clock {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    border: hidden;
    min-width: 300px;
    width: 100%;
  }

  .break .session .timer {
    margin-bottom: 30px;
  }
  .mobile-btns {
    color: white;
  }
}